@font-face {
  font-family: 'NokiaS60';
  src: 
  url('fonts/NokiaSansS60.woff') format('woff'),
  url('fonts/NokiaSansS60.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap; //Браузер будет подгружать стандартные шрифты
}
@font-face {
  font-family: 'Roboto Condensed';
  src: 
  url('fonts/Roboto-Condensed.woff') format('woff'),
  url('fonts/Roboto-Condensed.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Regular';
  src: 
  url('fonts/Roboto-Regular.woff') format('woff'),
  url('fonts/Roboto-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: 
  url('fonts/Roboto-Light.woff') format('woff'),
  url('fonts/Roboto-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

