*, *:before, *:after
  box-sizing: border-box
  outline-style: none
html
  font-size: 14px
body
  font-family: sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  overflow-x: hidden
  max-width: 1920px
  margin: auto
  &-title
    color: #1b1b1b
    font-family: 'Roboto Condensed'
    font-size: 2.2757rem
    font-weight: 400
    line-height: 2.4286rem
    text-transform: uppercase
    text-align: center
    position: relative
    margin-top: 0
    margin-bottom: 36.5px
    letter-spacing: -0.3px
    &::after
      content: ''
      width: 39px
      height: 20px
      background: url('../img/title-item.png')
      position: absolute
      left: 48%
      bottom: -23px

@media screen and ( max-width:  991px)
  html
    font-size: 12px

@media screen and ( max-width:  767px)
  .section
    &-title
      &::after
        left: 47%
@media screen and ( max-width:  575px)
  .section
    &-title
      &::after
        left: 45%
